{% extends 'base.html.twig' %}

{% block title %} Modifer mon mot de passe - Ma nouvelle boutique {% endblock %}
{% block content %}
                    <h1> Modifer mon mot de passe </h1>
    - <a href='{{path('app_account')}}'>Retour à mon compte</a><br>
    <hr>
    {% if notification %}
    <div class='alert alert-info'>{{ notification }}</div>
    {% endif %}
    {{form(form)}}
    <hr>
{% endblock %}