{% extends 'base.html.twig' %}

{% block title %}Accueil - La Nouvelle Boutique {% endblock %}

{% block carousel %}{% endblock %}

{% block content %}
    
        <!-- Three columns of text below the carousel -->
        {# <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2>Manteaux</h2>
                <p>Trouvez vos meilleurs veste/mentaux et doudounnes ici !</p>
                <p><a class="btn btn-secondary" href="#" role="button">Plus de détails &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2>Pantalons</h2>
                <p>Trouvez vos meilleurs pantalons/jeans/short ici !</p>
                <p><a class="btn btn-secondary" href="#" role="button">Plus de détails &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2>Accessoires</h2>
                <p>Trouvez vos meilleurs chapeaux/lunettes/accessoires ici !</p>
                <p><a class="btn btn-secondary" href="#" role="button">Plus de détails &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Vos manteaux<span class="text-muted"></span></h2>
                <p class="lead"></p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Vos pantalons<span class="text-muted"></span></h2>
                <p class="lead"></p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Vos accessoires<span class="text-muted"></span></h2>
                <p class="lead"></p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider"> #}

        <!-- /END THE FEATURETTES -->


        <div class="container-fluid">
        <!-- banner -->
        <div class="row banner" color="primary">
            <div class="row col-md inner-banner m-4">
            <div class="col-md-6 content bg-circle align-self-center text-center">
                <h1 class="text-center">Hello Summer!</h1>
                <h5>Enjoy Amazing summer 2022 sale</h5>
                <p class="dummy-desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book.
                </p>
                <div class="button">
                <button type="button" class="btn">
                    Shop Now <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </button>
                </div>
            </div>
            <div class="col-md-6 image alig-end">
                <div class=""></div>
            </div>
            </div>
        </div>
        </div>

        <div class="container text-center about my-5">
        <div class="row">
            <div class="col-lg col-md col-sm col-xs">
            <h2 class="custom-title my-5">
                What We Offer
            </h2>
            <p class="dummy-desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book.
            </p>
            </div>
        </div>
        </div>

        <!-- collection -->
        <div class="container text-center collections my-5">
        <h2 class="custom-title">New Collections</h2>
        <div class="row my-5">
            <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="p-4.jpg" alt="Card image cap" />
                <div class="card-body">
                <h5 class="card-title">Ladies Bags</h5>
                <p class="card-text dummy-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book.
                </p>
                <a href="#" class="btn"
                    >Add to Cart
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i
                ></a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="p-6.jpg" alt="Card image cap" />
                <div class="card-body">
                <h5 class="card-title">Boys Collections</h5>
                <p class="card-text dummy-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book.
                </p>
                <a href="#" class="btn"
                    >Add to Cart
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i
                ></a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="p-1.jpg" alt="Card image cap" />
                <div class="card-body">
                <h5 class="card-title">Tiny Jeans</h5>
                <p class="card-text dummy-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book.
                </p>
                <a href="#" class="btn"
                    >Add to Cart
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i
                ></a>
                </div>
            </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="p-2.jpg" alt="Card image cap" />
                <div class="card-body">
                <h5 class="card-title">Red & Black</h5>
                <p class="card-text dummy-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book.
                </p>
                <a href="#" class="btn"
                    >Add to Cart
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i
                ></a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="p-3.jpg" alt="Card image cap" />
                <div class="card-body">
                <h5 class="card-title">Shoes</h5>
                <p class="card-text dummy-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book.
                </p>
                <a href="#" class="btn"
                    >Add to Cart
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i
                ></a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="p-5.jpg" alt="Card image cap" />
                <div class="card-body">
                <h5 class="card-title">Sneakers</h5>
                <p class="card-text dummy-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book.
                </p>
                <a href="#" class="btn"
                    >Add to Cart
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i
                ></a>
                </div>
            </div>
            </div>
        </div>
        </div>

        <!-- sale -->
        <div class="container-fluid text-center my-5">
        <div class="row sale-section">
            <div class="col-md align-self-center">
            <h2>Enjoy a Big Sale!</h2>
            <h5>50% off on entire stock</h5>
            <div class="button my-4">
                <button type="button" class="btn">
                Shop Now <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </button>
            </div>
            </div>
        </div>
        </div>

{% endblock %}
