{% extends 'base-backend.html.twig' %}

{% block title %}Modifier les produits{% endblock %}

{% block body %}
    <h1>Modifier les produits</h1>

    {{ include('admin_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_product_index') }}">Retour</a>

    {{ include('admin_product/_delete_form.html.twig') }}
{% endblock %}
